[ req ]
prompt = no
default_bits = 2048
default_md = sha256
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
countryName = CN
stateOrProvinceName = HB
localityName = GA
organizationName = SUN
organizationalUnitName = DEPT
commonName = CA
emailAddress = 15872360904@163.com

[ v3_req ]
basicConstraints = CA:TRUE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
